.resume-button {
    transition: box-shadow 1s ease-in-out;
}
.resume-button:hover {
    -webkit-box-shadow: 0px 0px 300px 8px rgba(255,255,255,0.65);
    -moz-box-shadow: 0px 0px 300px 8px rgba(255,255,255,0.65);
    box-shadow: 0px 0px 300px 8px rgba(255,255,255,0.65);
    
}